<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829455006623-6o6evr8kqeauapjflcr645btbt3loevg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829455006623-6o6evr8kqeauapjflcr645btbt3loevg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>829455006623-l4nb6qqs1pk7kh9hsuvtcj93svn0qgd2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4DGW45NbzSglAHrdK3eeRsMMooftwSjA</string>
	<key>GCM_SENDER_ID</key>
	<string>829455006623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garageAuto</string>
	<key>PROJECT_ID</key>
	<string>garage-auto-1a344</string>
	<key>STORAGE_BUCKET</key>
	<string>garage-auto-1a344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829455006623:ios:e4cc59c5fd81ca33f09baa</string>
</dict>
</plist>